---
import Layout from '../layouts/main-layout.astro';
import List from '../components/list.astro';
---

<Layout title="Blackhand | Design">
	<main>
            <p class="highlight-yellow">// Design</p>
            <br>
            <br>
            <List date="2024" name="LG Lopez" link="/design/lglopez" description="Designed a new visual identity for the company."></List>
            <List date="2023" name="FEU Tech CS Expo 2023" link="/design/csexpo2023" description="Spearheaded the development of visual identity and publication materials."></List>
            <List date="2022" name="Association for Computing Machinery FEU Tech Student Chapter" link="/design/feutechacm" description="Designed the organization's visuals as well as its various events."></List>
            <List date="20XX" name="Miscellaneous Works" link="/design/misc" description="Personal designs, typography, and design practices."></List>
    </main>
</Layout>