---
import Layout from '../layouts/main-layout.astro';
import List from '../components/list.astro';
---

<Layout title="BLKHND.dev | Software">
	<main>
            <List date="2024" name="GAWA.ph" link="" description="Created UI/UX for mobile and desktop experiences."></List>
            <List date="2024" name="LG Lopez" link="" description="Designed a new visual identity for the company."></List>
            <List date="2023" name="FEU Tech CS Expo 2023" link="" description="Spearheaded the development of visual identity and publication materials."></List>
            <List date="2022" name="FEU Tech Communications Office" link="" description="Provided publication materials and designs for the university."></List>
            <List date="2022" name="Association for Computing Machinery FEU Tech Student Chapter" link="" description="Designed the organization's visuals as well as its various events."></List>
    </main>
</Layout>