---
import Layout from '../layouts/main-layout.astro';
---

<Layout title="BLKHND.dev | Home">
	<main>
		<p>Hello, I’m <span class="highlight-yellow">John Felix Agda (he/him)</span>: designer, software developer, and open-source advocate. My internet handle comes from the famous fictional solo from the tabletop RPG Cyberpunk: <a href="https://cyberpunk.fandom.com/wiki/Morgan_Blackhand" class="link-redirect">Morgan Blackhand</a>.</p>

        <br>

        <p>With 2 years of experience, my works focus on fast web applications, scalable low-level programs, and immersive user experiences. I also do digital design, ranging from posters to organizational brandings.</p>
        
        <br>

        <p>If you would like to reach out, you can contact me through e-mail via <a href="mailto:agda.johnfelix@gmail.com" class="link-redirect">agda.johnfelix@gmail.com</a>.</p>
	</main>
</Layout>


