---
import Layout from '../layouts/main-layout.astro';
import List from '../components/list.astro';
---

<Layout title="BLKHND.dev | Links">
	<main>
        <div class="links">
            <div class="icons">
                <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.4883 0.235353C6.24316 0.232423 0.375 6.09766 0.375 13.3369C0.375 19.0615 4.0459 23.9277 9.1582 25.7148C9.84668 25.8877 9.74121 25.3984 9.74121 25.0645V22.7939C5.76563 23.2598 5.60449 20.6289 5.33789 20.1895C4.79883 19.2695 3.52441 19.0352 3.90527 18.5957C4.81055 18.1299 5.7334 18.7129 6.80273 20.292C7.57617 21.4375 9.08496 21.2441 9.84961 21.0537C10.0166 20.3652 10.374 19.75 10.8662 19.2725C6.74707 18.5342 5.03027 16.0205 5.03027 13.0322C5.03027 11.582 5.50781 10.249 6.44531 9.17383C5.84766 7.40137 6.50098 5.88379 6.58887 5.6582C8.29102 5.50586 10.0605 6.87695 10.1982 6.98535C11.165 6.72461 12.2695 6.58692 13.5059 6.58692C14.748 6.58692 15.8555 6.73047 16.8311 6.99414C17.1621 6.74219 18.8027 5.56445 20.3848 5.70801C20.4697 5.93359 21.1084 7.41602 20.5459 9.16504C21.4951 10.2432 21.9785 11.5879 21.9785 13.041C21.9785 16.0352 20.25 18.5518 16.1191 19.2783C16.473 19.6263 16.7539 20.0412 16.9455 20.499C17.1372 20.9567 17.2357 21.4481 17.2354 21.9443V25.2402C17.2588 25.5039 17.2354 25.7646 17.6748 25.7646C22.8633 24.0156 26.5986 19.1143 26.5986 13.3398C26.5986 6.09766 20.7275 0.235353 13.4883 0.235353Z" fill="#7AAE0C"/>
                </svg>
            </div>
            <div class="link-redirect">
                <a>blackhand.dev</a>
            </div>
        </div>
        <br>
        <div class="links">
            <div class="icons">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.2812 0.28125H1.71875C1.2002 0.28125 0.78125 0.700195 0.78125 1.21875V22.7812C0.78125 23.2998 1.2002 23.7188 1.71875 23.7188H23.2812C23.7998 23.7188 24.2188 23.2998 24.2188 22.7812V1.21875C24.2188 0.700195 23.7998 0.28125 23.2812 0.28125ZM7.7334 20.2529H4.25586V9.06738H7.7334V20.2529ZM5.99609 7.53809C5.59744 7.53809 5.20774 7.41987 4.87627 7.19839C4.5448 6.97691 4.28646 6.66211 4.1339 6.29381C3.98134 5.9255 3.94143 5.52023 4.0192 5.12923C4.09697 4.73824 4.28894 4.37909 4.57083 4.0972C4.85272 3.81531 5.21187 3.62334 5.60286 3.54557C5.99386 3.46779 6.39913 3.50771 6.76744 3.66027C7.13575 3.81282 7.45054 4.07117 7.67202 4.40264C7.8935 4.73411 8.01172 5.12381 8.01172 5.52246C8.00879 6.63574 7.10645 7.53809 5.99609 7.53809ZM20.7529 20.2529H17.2783V14.8125C17.2783 13.5146 17.2549 11.8477 15.4707 11.8477C13.6631 11.8477 13.3848 13.2598 13.3848 14.7188V20.2529H9.91309V9.06738H13.2471V10.5967H13.2939C13.7568 9.71777 14.8906 8.78906 16.584 8.78906C20.1055 8.78906 20.7529 11.1064 20.7529 14.1182V20.2529Z" fill="#7AAE0C"/>
                </svg>
            </div>
            <div class="link-redirect">
                <a>John Felix Agda</a>
            </div>
        </div>
        <br>
        <div class="links">
            <div class="icons">
                <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.6875 0.6875H1.3125C0.793945 0.6875 0.375 1.10645 0.375 1.625V20.375C0.375 20.8936 0.793945 21.3125 1.3125 21.3125H25.6875C26.2061 21.3125 26.625 20.8936 26.625 20.375V1.625C26.625 1.10645 26.2061 0.6875 25.6875 0.6875ZM24.5156 3.93359V19.2031H2.48438V3.93359L1.67578 3.30371L2.82715 1.82422L4.08105 2.7998H22.9219L24.1758 1.82422L25.3271 3.30371L24.5156 3.93359ZM22.9219 2.79688L13.5 10.1211L4.07812 2.79688L2.82422 1.82129L1.67285 3.30078L2.48145 3.93066L12.4893 11.7119C12.7771 11.9355 13.1311 12.0569 13.4956 12.0569C13.8601 12.0569 14.2141 11.9355 14.502 11.7119L24.5156 3.93359L25.3242 3.30371L24.1729 1.82422L22.9219 2.79688Z" fill="#7AAE0C"/>
                </svg>
            </div>
            <div class="link-redirect">
                <a>info@blackhand.dev</a>
            </div>
        </div>
    </main>
</Layout>