---
import Layout from '../layouts/resume-layout.astro';
---
<Layout title="BLKHND.dev | Home">
	<main>
		<p><span class="highlight-yellow">// Work Experience</span></p>

        <br>

        <p>Accenture Philippines (2023-2024)</p>
        <p>Student Intern, Application Support Developer</p>
        
        <br>

        <p><span class="highlight-yellow">// Extracurriculars</span></p>
        
        <br>

        <p>RevSentinel (2022-2023)</p>
        <p>Lead Developer, Documentation</p>

        <br>

        <p>FEU Tech Communication Office (2023)</p>
        <p>Graphic Designer</p>

        <br>

        <p>Association for Computing Machinery FEU Tech Student Chapter (2022-2023)</p>
        <p>Creative Director</p>

        <br>

        <div class="redirect">
            <p></p>
            <p><a href="/resume-2" class="link-redirect">Education and Certifications &gt</a></p>
        </div>
    </main>
</Layout>

