---
import Layout from '../layouts/resume-layout.astro';
---
<Layout title="Blackhand | Resume">
	<main>
		<p><span class="highlight-yellow">// Skills</span></p>

        <br>

        <p>Adobe Creative Suite</p>
        <p>Microsoft 365 Suite</p>
        <p>C, C++, and C#</p>
        <p>Java</p>
        <p>Python</p>
        <p>Javascript, TypeScript</p>
        <p>SQL</p>
        <p>Unity</p>
        <p>Godot</p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="redirect">
            <p><a href="/resume-2" class="link-redirect">&lt Education and Certifications</a></p>
            <p></p>
        </div>
    </main>
</Layout>

