---
import Layout from '../layouts/resume-layout.astro';
---
<Layout title="Blackhand | Resume">
	<main>
		<p><span class="highlight-yellow">// Certifications</span></p>

        <br>

        <p>Cisco DevNet Associate (2023)</p>
        <p>Cisco</p>
        
        <br>

        <p>IT Specialist in Python (2021)</p>
        <p>Certiport</p>
        
        <br>

        <p>IT Specialist in Java (2021)</p>
        <p>Certiport</p>

        <br>

        <p><span class="highlight-yellow">// Education</span></p>

        <br>

        <p>BS Computer Science, Software Engineering</p>
        <p>FEU Institute of Technology</p>
        <p>S.Y. 2020-2025</p>

        <br>

        <div class="redirect">
            <p><a href="/resume-1" class="link-redirect">&lt Work Experience</a></p>
            <p><a href="/resume-3" class="link-redirect">Skills &gt</a></p>
        </div>
    </main>
</Layout>

