---
import Layout from '../layouts/main-layout.astro';
import List from '../components/list.astro';
---

<Layout title="BLKHND.dev | Software">
	<main>
            <p class="highlight-yellow">// Software</p>
            <br>
            <br>
            <List date="2024" name="blackhand.dev Website" link="https://github.com/blkhnd-dev/blkhnd-dev.github.io" description="Website for Blackhand, developed using Astro and deployed using Github Pages."></List>
            <List date="2022" name="twitter-delete [Deprecated]" link="https://github.com/blkhnd-dev/twitter-delete" description="Python script utilizing a user's own API keys to delete data from Twitter."></List>
    </main>
</Layout>