---
import Layout from '../../layouts/image-layout.astro';
import ImgList from '../../components/img-list.astro';
---

<Layout title="BLKHND.dev | LG Lopez">
<main>
<p class="text"><span class="highlight-yellow">// CS Expo 2023</span></p>
<br>
    <ImgList source="../../images/csexpo2023/csexpo2023-1.png" alt="csexpo2023-1"></ImgList>
    <ImgList source="../../images/csexpo2023/csexpo2023-2.png" alt="csexpo2023-2"></ImgList>
    <ImgList source="../../images/csexpo2023/csexpo2023-3.png" alt="csexpo2023-3"></ImgList>
    <ImgList source="../../images/csexpo2023/csexpo2023-4.png" alt="csexpo2023-4"></ImgList>
    <ImgList source="../../images/csexpo2023/csexpo2023-5.png" alt="csexpo2023-5"></ImgList>
    <ImgList source="../../images/csexpo2023/csexpo2023-6.png" alt="csexpo2023-6"></ImgList>
    <ImgList source="../../images/csexpo2023/csexpo2023-7.png" alt="csexpo2023-7"></ImgList>
</main>
</Layout>