---
import Layout from '../../layouts/image-layout.astro';
import ImgList from '../../components/img-list.astro';
---

<Layout title="Blackhand | Association for Computing Machinery FEU Tech Student Chapter">
<main>
<p class="text"><span class="highlight-yellow">// LG Lopez</span></p>
<br>
    <ImgList source="../../images/feutechacm/feutechacm-1.png" alt="feutechacm-1"></ImgList>
    <ImgList source="../../images/feutechacm/feutechacm-2.png" alt="feutechacm-2"></ImgList>
    <ImgList source="../../images/feutechacm/feutechacm-3.png" alt="feutechacm-3"></ImgList>
    <ImgList source="../../images/feutechacm/feutechacm-4.png" alt="feutechacm-4"></ImgList>
    <ImgList source="../../images/feutechacm/feutechacm-5.png" alt="feutechacm-5"></ImgList>
    <ImgList source="../../images/feutechacm/feutechacm-6.png" alt="feutechacm-6"></ImgList>
    <ImgList source="../../images/feutechacm/feutechacm-7.png" alt="feutechacm-7"></ImgList>
    <ImgList source="../../images/feutechacm/feutechacm-8.png" alt="feutechacm-8"></ImgList>
</main>
</Layout>