---
import Layout from '../../layouts/image-layout.astro';
import ImgList from '../../components/img-list.astro';
---

<Layout title="BLKHND.dev | LG Lopez">
<main>
<p class="text"><span class="highlight-yellow">// LG Lopez</span></p>
<br>
    <ImgList source="../../public/images/lglopez/lglopez-1.png" alt="lglopez-1"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-2.png" alt="lglopez-2"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-3.png" alt="lglopez-3"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-4.png" alt="lglopez-4"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-5.png" alt="lglopez-5"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-6.png" alt="lglopez-6"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-7.png" alt="lglopez-7"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-8.png" alt="lglopez-8"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-9.png" alt="lglopez-9"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-10.png" alt="lglopez-10"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-11.png" alt="lglopez-11"></ImgList>
    <ImgList source="../../public/images/lglopez/lglopez-12.png" alt="lglopez-12"></ImgList>
</main>
</Layout>