---
import Layout from '../../layouts/image-layout.astro';
import ImgList from '../../components/img-list.astro';
---

<Layout title="Blackhand | Miscellaneous">
<main>
<p class="text"><span class="highlight-yellow">// LG Lopez</span></p>
<br>
    <ImgList source="../../images/misc/misc-1.png" alt="misc-1"></ImgList>
    <ImgList source="../../images/misc/misc-2.png" alt="misc-2"></ImgList>
    <ImgList source="../../images/misc/misc-3.png" alt="misc-3"></ImgList>
    <ImgList source="../../images/misc/misc-4.png" alt="misc-4"></ImgList>
    <ImgList source="../../images/misc/misc-5.png" alt="misc-5"></ImgList>
    <ImgList source="../../images/misc/misc-6.png" alt="misc-6"></ImgList>
    <ImgList source="../../images/misc/misc-7.png" alt="misc-7"></ImgList>
</main>
</Layout>