---
import '../styles/base.css';
---
<div class="header">
    <p><a href="/resume-1" class="link-redirect">[00] resume</a></p>
    <br>
    <p><a href="/software" class="link-redirect">[01] software</a></p>
    <br>
    <p><a href="/design" class="link-redirect">[02] design</a></p>
    <br>
    <p><s><a href="/blog" class="link-redirect">[03] blog</a></s></p>
    <br>
    <p><a href="/links" class="link-redirect">[04] links</a></p>
</div>