---
import '../styles/base.css';
---

<div class="divider-line">
    <div class="square">
    </div>
    <div class="line">
    </div>
    <div class="square">
    </div>
</div>

<div class="status-bar">
    <div class="status-bar-text">
    <p>FOR_RECRUITMENT</p>
    <br>
    <p>FOR_COMMISSION</p>
    </div>
    <div class="status-bar-info">
    <p>[  <span class="highlight-yellow-glow">NO</span>  ]</p>
    <br>
    <p>[  <span class="highlight-green-glow">OK</span>  ]</p>
    </div>
    </div>
</div>