---
import '../styles/base.css';
import Header from '../components/header.astro';
import Logo from '../components/logo.astro';
import StatusBar from '../components/status-bar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>

<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="image-layout" content="Image layout" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>

	<body>
		<div class="main">
			<div class="flex-container">
				<a href="/">
					<Logo></Logo>	
				</a>

				<div class="content-image">
					<p class="text"><a href="/design" class="link-redirect">&lt Back to Design</a></p>
					<br>
					<slot></slot>
					<StatusBar></StatusBar>
					<br>
					<br>
				</div>
		
			<Header></Header>
		</div>	
	</body>
</html>


