---
import '../styles/base.css';
import Header from '../components/header.astro';
import Logo from '../components/logo.astro';
import StatusBar from '../components/status-bar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="resume-layout" content="Resume layout" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>
	<body>
		<div class="main">
			<div class="flex-container">
				<a href="/">
					<Logo></Logo>
				</a>

				<div class="content">
					<div class="text">
						<slot></slot>	
						<br>
        				<p><a href="/public/JohnFelixAgda-Resume-2024.pdf" class="link-redirect">[x] Download PDF</a></p>
        				<p><a href="/public/JohnFelixAgda-Resume-2024-Printable.pdf" class="link-redirect">[x] Download printable</a></p>
						<br>
					</div>

					<StatusBar></StatusBar>
				</div>
		<Header></Header>		
	</body>
</html>


