---
import '../styles/base.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="main" content="Main layout" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>
	<body>
		<div class="main">
			<div class="flex-container">
				<a href="/">
				<div class="logo">
					<svg width="283" height="327" viewBox="0 0 283 327" fill="none" xmlns="http://www.w3.org/2000/svg">
					<title>BLKHND-dev Logo</title>
					<path d="M7.936 95V4.12H42.368C69.248 4.12 82.56 11.672 82.56 29.336C82.56 39.96 76.032 46.36 63.872 47.896L63.744 48.152C78.976 49.688 86.4 56.6 86.4 69.272C86.4 86.296 73.344 95 47.488 95H7.936ZM33.152 75.8H48.384C55.552 75.8 61.312 72.984 61.312 66.584C61.312 59.928 55.68 56.984 48.384 56.984H33.152V75.8ZM33.152 40.6H45.056C52.224 40.6 57.472 37.912 57.472 32.024C57.472 25.88 52.352 23.32 45.056 23.32H33.152V40.6ZM99.811 95V4.12H125.027V74.904H164.451V95H99.811ZM176.811 4.12H202.027V40.088L229.675 4.12H257.963L226.219 44.696L259.883 95H232.107L209.707 60.952L202.027 70.552V95H176.811V4.12ZM7.936 195V104.12H33.152V139.192H59.904V104.12H85.12V195H59.904V159.416H33.152V195H7.936ZM100.936 104.12H126.408L156.488 156.088V104.12H181.704V195H155.464L126.152 145.72V195H100.936V104.12ZM229.594 104.12C260.058 104.12 277.082 120.504 277.082 149.688C277.082 178.744 260.314 195 230.362 195H196.186V104.12H229.594ZM221.402 174.904H229.594C244.826 174.904 251.738 166.968 251.738 149.56C251.738 132.152 244.826 124.216 229.594 124.216H221.402V174.904Z" fill="#7AAE0C"/>
					<path d="M41.344 204.12C71.808 204.12 88.832 220.504 88.832 249.688C88.832 278.744 72.064 295 42.112 295H7.936V204.12H41.344ZM33.152 274.904H41.344C56.576 274.904 63.488 266.968 63.488 249.56C63.488 232.152 56.576 224.216 41.344 224.216H33.152V274.904ZM99.061 204.12H166.389V224.216H124.277V239.448H164.853V259.416H124.277V274.904H167.413V295H99.061V204.12ZM176.206 204.12H201.678L223.182 266.584L244.558 204.12H270.158L237.39 295H208.974L176.206 204.12Z" fill="#E9E9E9"/>
					<path d="M13.056 307.336C9.376 307.336 6.88 309.8 6.88 313.544C6.88 317.256 9.376 319.752 13.056 319.752C16.448 319.752 18.88 317.64 19.136 314.536L15.04 314.408C14.88 315.912 14.24 316.616 13.056 316.616C11.744 316.616 10.944 315.528 10.944 313.544C10.944 311.528 11.744 310.44 13.056 310.44C14.144 310.44 14.816 311.24 15.008 312.616L19.072 312.424C18.784 309.384 16.352 307.336 13.056 307.336ZM1.12 313.544C1.12 307.048 6.4 301.768 12.928 301.768C19.456 301.768 24.736 307.048 24.736 313.544C24.736 320.104 19.456 325.384 12.928 325.384C6.4 325.384 1.12 320.104 1.12 313.544ZM4.096 313.544C4.096 318.408 8.096 322.44 12.928 322.44C17.76 322.44 21.792 318.408 21.792 313.544C21.792 308.744 17.76 304.712 12.928 304.712C8.096 304.712 4.096 308.744 4.096 313.544ZM27.699 309.832C27.891 305.128 31.603 301.768 36.947 301.768C42.067 301.768 45.747 304.776 45.747 308.968C45.747 312.616 42.835 314.472 39.955 316.04C39.155 316.488 35.443 318.344 35.251 319.976H45.747V325H27.699C27.699 318.376 30.707 314.952 35.859 312.232C38.099 310.952 39.315 310.152 39.315 308.872C39.315 307.688 38.355 306.792 36.947 306.792C35.347 306.792 34.355 307.976 34.067 310.184L27.699 309.832ZM58.8928 325.512C52.3328 325.512 48.7488 320.712 48.7488 313.672C48.7488 306.632 52.3328 301.768 58.8928 301.768C65.4208 301.768 69.0048 306.632 69.0048 313.672C69.0048 320.712 65.4208 325.512 58.8928 325.512ZM55.1808 313.672C55.1808 318.152 56.4608 320.488 58.8928 320.488C61.2928 320.488 62.5728 318.152 62.5728 313.672C62.5728 309.16 61.2928 306.792 58.8928 306.792C56.4608 306.792 55.1808 309.16 55.1808 313.672ZM72.1053 309.832C72.2973 305.128 76.0093 301.768 81.3533 301.768C86.4733 301.768 90.1533 304.776 90.1533 308.968C90.1533 312.616 87.2413 314.472 84.3613 316.04C83.5613 316.488 79.8493 318.344 79.6573 319.976H90.1533V325H72.1053C72.1053 318.376 75.1133 314.952 80.2653 312.232C82.5053 310.952 83.7213 310.152 83.7213 308.872C83.7213 307.688 82.7613 306.792 81.3533 306.792C79.7533 306.792 78.7613 307.976 78.4733 310.184L72.1053 309.832ZM110.851 302.28V316.232H113.219V321.288H110.851V325H104.547V321.288H93.251V316.264L103.075 302.28H110.851ZM99.875 316.232H104.547V309.704L99.875 316.232Z" fill="#E9E9E9"/>
					</svg>	
				</div>
				</a>

				<div class="content">
					<div class="text">
						<slot></slot>	
						<br>
        				<p><a href="/public/JohnFelixAgda-Resume-2024.pdf" class="link-redirect">[x] Download PDF</a></p>
        				<p><a href="/public/JohnFelixAgda-Resume-2024.pdf-Printable" class="link-redirect">[x] Download printable</a></p>
					</div>

					<div class="divider-line">
						<div class="square">
						</div>
						<div class="line">
						</div>
						<div class="square">
						</div>
					</div>

					<div class="status-bar">
						<div class="status-bar-text">
						<p>FOR_RECRUITMENT</p>
						<br>
						<p>FOR_COMISSION</p>
						</div>
						<div class="status-bar-info">
						<p>[<span class="highlight-yellow">INVALID</span>]</p>
						<br>
						<p>[<span class="highlight-green">OK</span>]</p>
						</div>
					</div>
				</div>

				<div class="header">
				<p><a href="/resume-1" class="link-redirect">[00] resume</a></p>
				<br>
				<p><a class="link-redirect">[01] software</a></p>
				<br>
				<p><a class="link-redirect">[02] design</a></p>
				<br>
				<p><a class="link-redirect">[03] blog</a></p>
				<br>
				<p><a class="link-redirect">[04] links</a></p>
				</div>
			</div>
		</div>
		
	</body>
</html>


