---
import '../styles/base.css';
import Header from '../components/header.astro';
import Logo from '../components/logo.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="main" content="Main layout" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../public/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

	</head>
	<body>
		<div class="main">
			<div class="flex-container">
				<a href="/">
					<Logo></Logo>
				</a>

				<div class="content">
					<div class="text">
						<slot></slot>	
						<br>
        				<p><a href="/public/JohnFelixAgda-Resume-2024.pdf" class="link-redirect">[x] Download PDF</a></p>
        				<p><a href="/public/JohnFelixAgda-Resume-2024-Printable.pdf" class="link-redirect">[x] Download printable</a></p>
						<br>
					</div>

					<div class="divider-line">
						<div class="square">
						</div>
						<div class="line">
						</div>
						<div class="square">
						</div>
					</div>

					<div class="status-bar">
						<div class="status-bar-text">
						<p>FOR_RECRUITMENT</p>
						<br>
						<p>FOR_COMISSION</p>
						</div>
						<div class="status-bar-info">
						<p>[<span class="highlight-yellow">INVALID</span>]</p>
						<br>
						<p>[<span class="highlight-green">OK</span>]</p>
						</div>
					</div>
				</div>
		<Header></Header>		
	</body>
</html>


